{% extends "MainTamplate.html" %}
{% block content %}

    <div class="jumbotron">
        <form class="align-items-center text-center justify-content-center align-self-center" method="POST" action="\Login">
            <input type="text" class="form-control col-4" name="userName" placeholder="דואר אלקטרוני"/>
            <input type="password" class="form-control col-4" name="pass" placeholder="סיסמא"/>
            <input type="submit" class="btn btn-primary col-1" name="submit" value="התחבר"/>
        </form>
    </div>

{% endblock %}