{% extends "MainTamplate.html" %}
{% block content %}

    <div class="jumbotron">
        <form class=" text-center" method="POST" action="\Login">
            <span class="font-weight-bold text-primary">התחברות</span>
            <input type="text" class="form-control col-4 mx-auto" name="userName" placeholder="דואר אלקטרוני"/>
            <input type="password" class="form-control col-4 mx-auto" name="pass" placeholder="סיסמא"/>
            <input type="submit" class="btn btn-primary col-1 mx-auto" name="submit" value="התחבר"/>
        </form>
    </div>

{% endblock %}