<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!-- Bootstarp and Jquery -->
    <link rel="stylesheet" type="text/css" href="/static/css/main.css"/>

    <script src="/static/js/jquery-3.1.1.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-theme.min.css"/>

    <script src="/static/js/main.js"></script>

    <title>{{ title.decode('utf-8') }}</title>


</head>
<body>


<header class="container">
    <a href="/"><img src="/static/images/logo.jpg" class="img-responsive mx-auto d-block" width="150" alt="logo"/></a>
    <nav>
        <ul class="nav nav-pills nav-justified">
            <li class="nav-item">
                <a class="nav-link" href="/">דף הבית</a>
            </li>
            <li class="nav-item dropdown">
                {% if not session.logged_in %}
                    <a class="nav-link disabled" href="" disabled="true">חניכים</a>
                {% else %}
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                       aria-haspopup="true"
                       aria-expanded="false"> חניכים &nbsp;</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">רשימת חניכים</a>
                        <a class="dropdown-item" href="{{ url_for('insert_mentor') }}">הוספת חניך</a>
                    </div>
                {% endif %}
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                   aria-expanded="false"> חונכים &nbsp;</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                   aria-expanded="false"> הסעות &nbsp;</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                   aria-expanded="false"> פעולות &nbsp;</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                </div>
            </li>
            <li class="nav-item">
                {% if not session.logged_in %}
                    <a class="nav-link" href="/Login">התחברות</a>
                {% else %}
                    <a class="nav-link" href="/Logout">התנתק</a>
                {% endif %}
            </li>
        </ul>
    </nav>

</header>

<!--****************Content starts here*****************-->
<hr/>
<div class="container">
    {% for category,msg in get_flashed_messages(with_categories=true) %}
        <div class="alert {{ category }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            {% print msg.decode('utf-8') %}
        </div>
    {% endfor %}
</div>
<div class="container">
    {% block content %}
    {% endblock %}
</div>

<hr/>
<!--****************Footer starts here*****************-->
<footer class="container">
    <p class="text-center text-primary">Built by Tal Taub © 2017</p>
</footer>

</body>
</html>