<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- Bootstarp and Jquery -->
    <link rel="stylesheet" type="text/css" href="/static/css/main.css"/>

    <script src="/static/js/jquery-3.1.1.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-theme.min.css"/>

    <script src="/static/js/main.js"></script>

    <title>{{ title }}</title>


</head>
<body>


<header class="container">
    <a href="/"><img src="/static/images/logo.jpg" class="img-responsive center-block" width="150" alt="logo"/></a>
    <nav>
        <ul class="nav nav-pills nav-justified">
            <li class="nav-item">
                <a class="nav-link active" href="/">דף הבית</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">חניכים</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">חונכים</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">הסעות</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">פעולות</a>
            </li>
            <li class="nav-item">
                {%  if not session.logged_in %}
                <a class="nav-link" href="/Login">התחברות</a>
                {% else %}
                <a class="nav-link" href="/Logout">התנתק</a>
                {% endif %}
            </li>
        </ul>
    </nav>

</header>

<!--****************Content starts here*****************-->
<hr/>

<div class="container">
{% block content %}
{% endblock %}
</div>

<hr/>
<!--****************Footer starts here*****************-->
<footer class="container">
    <p class="text-center text-primary">Built by Tal Taub © 2017</p>
</footer>

</body>
</html>